<div id="<%= dom_id subcategory %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= subcategory.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= subcategory.category_id %>
  </div>
</div>
