<div id="<%= dom_id variant %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Body material:</strong>
    <%= variant.body_material %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Size mm:</strong>
    <%= variant.size_mm %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Product:</strong>
    <%= variant.product_id %>
  </div>
</div>
