<% content_for :title, t("products.edit.title", default: "Editing product") %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= t("products.edit.heading", default: "Editing product") %></h1>

  <%= render "form", product: @product %>

  <%= link_to t("products.edit.show_product", default: "Show this product"), @product, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to t("products.edit.back_to_products", default: "Back to products"), products_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>